---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body{% if page.mondrian_home %} class="home-page"{% endif %}>

    {% include browser-upgrade.html %}
    {% unless page.mondrian_home %}{% include masthead.html %}{% endunless %}

    {{ content }}

    <div class="page__footer">
      <footer>
        <span>&copy; {{ site.time | date: "%Y" }} {{ site.author.name }}</span>
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
